In [1]:
import pandas as pd

In [11]:

dados = pd.read_csv('/content/drive/MyDrive/Bootcamp_ALURA/Portifolio-Alura/Diário/Módulo 4/Bases de Dados/A145400189_28_143_208.csv', encoding= 'ISO-8859-1', delimiter=';', skiprows= 3, skipfooter= 16)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [14]:
dados.head()

  Ano Diagnóstico   Jan   Fev   Mar   Abr  ...   Set   Out   Nov   Dez  Total
0            2001  8088  6542  8095  7305  ...  6697  7524  6874  6627  87265
1            2002  8013  7346  7961  8771  ...  7654  8200  7532  6809  92859
2            2003  8115  7985  7474  7975  ...  8136  8521  7624  7303  93773
3            2004  7574  6743  8574  8089  ...  7901  8016  7753  7196  92980
4            2005  7432  6748  8441  7958  ...  7690  7186  7587  7541  92056

[5 rows x 14 columns]

In [16]:
dados_melt = dados.melt(id_vars= ['Ano Diagnóstico'])

In [17]:
dados_melt.head()

  Ano Diagnóstico variable  value
0            2001      Jan   8088
1            2002      Jan   8013
2            2003      Jan   8115
3            2004      Jan   7574
4            2005      Jan   7432